setuptools>=68.0.0
flask==2.3.2
requests==2.31.0
python-dotenv==1.0.0
flask-limiter==3.3.0
python-dateutil==2.8.2
flask-admin==1.6.1
flask-bootstrap==3.3.7.1
sqlalchemy==2.0.23
flask-sqlalchemy==3.1.1
flask-security-too==3.4.5
flask-migrate==4.0.5
psycopg2-binary==2.9.9
gunicorn==21.2.0
